html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 20px;
    background-color:grey;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;


}

.bodyContainer {
    /* background:url(../img/shell.jpg) bottom no-repeat ;
    background-color: black;
    background-size:100%; */
    /* background-repeat: no-repeat; */
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header ul ul ul"
        "header header header ul ul ul"
        "empty empty1 empty ul ul ul"
        "empty empty1 empty ul ul ul"
        "empty empty1 empty ul ul ul"
        "empty footer footer footer img1 img1"
        "empty footer footer footer img1 img1"
    ;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-items: space-between;
    box-shadow: 1px 1px 1px 1px black;
    margin: 1%;
}

/* This is the house of BoxOne. WHERE THE RULES ARE MADE */
header {
    grid-area: header;
    justify-content: center;
    align-items:center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

ul {
    grid-area: ul;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
}

footer {
    grid-area: footer;
    border: green solid 2px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;

}

#img1 {
    grid-area: img1;
    border: purple solid 5px;
    justify-items: center;
    align-content: center;
    flex-direction:column-reverse;
    justify-content: space-between;
}