@media (min-width: 40em){
   .site {
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto 1fr auto;
        background-image: url(/shell.jpg);
        background-size: contain;
        background-repeat: no-repeat;
       
    }
}

.site {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    border: 3px red solid;
    
}

.masthead {
    border: 5px blue solid;
}

.page-title {
    border: 10px rgb(0, 255, 21);


}
h1{color: aquamarine;}
h2{color: azure;}
ul li{color: antiquewhite;}
p{color: aliceblue;}
.main-content {
  border: 20px solid yellow;

}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

/* @media screen and (min-width: 34em){
    .site {
        
    }
} */