@media (min-width: 40em) {
    .site {
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto 1fr auto;
    }
}

.site {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto ;
    background-color: black;

}


img {display: inline;
    background-image: url(/shell.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
   
}

.masthead {
    grid-column: span 2;
    text-align: center;
}


h1 {
    font-size: 100pt;
    color: coral;
    border-radius: 1em;
    font-family: 'Times New Roman', Times, serif;
}

h2 {font-size: 42pt;
    color: #579f57;
    border-radius: 1em;
    font-family: 'Times New Roman', Times, serif;
}

h3{font-size: 24pt;
    color: rgb(57, 113, 146);
    border-radius: 1em;
    font-family: 'Times New Roman', Times, serif;}
    

nav {
    background-color: black;
    border: solid black;

}

ul li {

    color: antiquewhite;
    text-align: center;
    background-color: black;
    border: black solid;
    font-family:'Times New Roman', Times, serif ;
    font-size: 21pt;
    line-height: 1.5em;
}

p {
    color: aliceblue;
    text-align: center;
    background-color: black;
    font-size: 14pt;
}

aside {
    grid-row: span 1;
    grid-column-end: span 1;
}

footer {
    box-sizing: border-box;
    height: 50px;
    font-size: 24pt;
    color: aquamarine;
    background-color: rgb(4, 38, 70);
    grid-column: span 2;
    text-align: center;
    border: black 20 px solid;
}
a{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: coral;}