.site {
    display:grid;
    background-image: url(../shellBackground.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    grid-template-columns: min-content;

}


.masthead {}

.page-title {}

.main-content {display: flex;}
.main-content p, h1, h2, li{font-size: 14pt;
color:antiquewhite}

.sidebar {}

.footer {}