.site {
    display: grid;
    background-image: url(../shell.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-template-columns: min-content;

}


.masthead {}

.page-title {}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    color: rgb(255, 232, 127);
}
.main-content h2 {
    font-size: 14pt;
    color:#d7a8e5
}

.main-content h1 {
    font-size: 24pt;
    color: rgb(240, 109, 141)
}

.main-content p {
    font-size: 9pt;
    color: antiquewhite
}
.main-content ul li {
    font-size: 14pt;
    color: antiquewhite
}


.sidebar {}

.footer {}