.site {
    display: flex;
    border: solid 5px red;
    background-image: url(../shellBackground.jpg);
    background-repeat: no-repeat;
    justify-content: space-evenly;
}

.masthead {}

.page-title {}

.main-content {}

.sidebar {}

.footer {}